<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2
          class="mb-10 text-center text-2xl/9 font-bold tracking-tight text-primary"
        >
          {{ "register.title" | translate }}
        </h2>
      </div>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="space-y-6"
      >
        <div>
          <p-floatlabel>
            <input
              id="email"
              pInputText
              type="email"
              formControlName="email"
              class="w-full hover:border-primary"
            />
            <label for="email"> {{ "register.email" | translate }} </label>
          </p-floatlabel>
          @if (registerForm.get('email')?.dirty &&
          registerForm.get('email')?.errors?.['required']) {
          <p-message severity="error" variant="simple" size="small">
            {{ "register.error.emailRequired" | translate }}
          </p-message>
          } @else if (registerForm.get('email')?.dirty &&
          registerForm.get('email')?.errors?.['email']) {
          <p-message severity="error" variant="simple" size="small">
            {{ "register.error.email" | translate }}
          </p-message>
          }
        </div>

        <div>
          <p-floatlabel>
            <input
              id="password"
              pInputText
              type="password"
              formControlName="password"
              class="w-full hover:border-primary"
            />
            <label for="password">
              {{ "register.password" | translate }}
            </label>
          </p-floatlabel>
          @if (registerForm.get('password')?.dirty &&
          registerForm.get('password')?.errors?.['required']) {
          <p-message severity="error" variant="simple" size="small">
            {{ "register.error.passwordRequired" | translate }}
          </p-message>
          }
        </div>

        <div>
          <p-floatlabel>
            <input
              id="password-confirm"
              pInputText
              type="password"
              formControlName="confirmPassword"
              class="w-full"
            />
            <label for="password">
              {{ "register.confirmPassword" | translate }}
            </label>
          </p-floatlabel>
          @if (registerForm.get('confirmPassword')?.dirty &&
          registerForm.get('confirmPassword')?.errors?.['required']) {
          <p-message severity="error" variant="simple" size="small">
            {{ "register.error.passwordRequired" | translate }}
          </p-message>
          }
        </div>

        <div>
          <p-button
            label="{{ 'register.title' | translate }}"
            fluid="true"
            type="submit"
            [disabled]="!registerForm.valid"
          />
        </div>
      </form>

      <div>
        <div class="relative mt-10">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div class="relative flex justify-center text-sm/6 font-medium">
            <span class="bg-white px-6 text-gray-900">{{
              "register.continue" | translate
            }}</span>
          </div>
        </div>

        <div class="mt-6">
          <p-button label="Primary" variant="outlined" fluid="true">
            <ng-template #content>
              <img src="instagram.svg" alt="Instagram" class="w-10 h-10" />
              <span class="text-sm/6 font-semibold">Instagram</span>
            </ng-template>
          </p-button>
        </div>
      </div>
    </div>

    <p class="mt-10 text-center text-lg text-zinc-600 font-semibold">
      {{ "register.alreadyRegistered" | translate }}
      <a
        [routerLink]="['/login']"
        class="font-semibold text-primary hover:text-primary-emphasis hover:underline cursor-pointer"
      >
        {{ "register.login" | translate }}
      </a>
    </p>
  </div>
</div>
