/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";

html {
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--p-surface-100);
}

:root {
  /* Customise prime variable */
  --p-floatlabel-active-font-size: 1rem;
}
